.dHeader {
    background-color: aliceblue;

}

body {
    font-size: 2em;
}

.grid-cont {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: antiquewhite;
  padding: 12px;

}

.grid-item {
background-color: aqua;
border: 1px solid black;
font-size: 1em;
text-align: center;

}

img {
    width: auto;
    height: 75%;
}

.dFooter {
    background-color: aliceblue;
}