body {
  background-color: lightgrey;
  font-size: 1em;
}

imgProfile {
  height: auto;
  width: 100px;
}

.dImages, imgSamLiz, imgHiking, imgBallet {
  height: 50%
  width: auto;
}

heading {
  font-size: 3em;
  syle: bold;
}

.topMenu {
  overflow: hidden;
  background-color: steelblue;
}

.topMenu a {
  float: left;
  text-align: center;
}

.topMenu a:hover {
  background-color: darkgrey;
  color: white;
}

