body {
  background-color: lightgrey;
  font-size: 1em;
}

imgProfile {
  height: auto;
  width: 100px;
}

.dImages {
  height: auto;
  width: 100px;
}

heading {
  font-size: 3em;
  syle: bold;
}

.topMenu {
  overflow: hidden;
  background-color: steelblue;
}

.topMenu a {
  float: left;
  text-align: center;
}

.topMenu a:hover {
  background-color: darkgrey;
  color: white;
}

.flexing {
  display: flex;
}

.flexing > div {
  width: 100px
  margin: 8px;  
}